* {
    box-sizing: border-box;
}
.body, p {
    margin: 0;
}

.m-l-10{
    margin-left: 10px;
}

.verh_menu {
    background: #f7f7f7;
    display: inline-block;
    width: 100%;
}
.verh_menu ul li{
    float: left;
}
.header_left, .ul_li > li {
    float: left;
}

.header_right {
    float: right;
}
 .ul_li {
     list-style: none;
     display: inline-block;
     padding: 0;
     margin: 0;
 }
 .ul_li li {
     padding: 10px 15px;
 }
 .container {
     width: 1300px;
     margin: 0 auto;
 }

.b-r li{
    border-right: 1px solid rgb(219, 216, 216);
}

.b-r li:last-child{
    border-right: 0;
}

.verh_menu .ul_li i{
    margin-right: 10px;
}
.msg{
    position: relative;
    top: -7px;
    right: 8px;
    background: red;
    width: 13px;
    height: 13px;
    text-align: center;
    color: white;
    font-size: 9px;
    line-height: 1.5;
    border-radius: 13px;
}

.icon_msg{
    position: absolute;
}

.nijn_menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.logo_style{
    background: #f7f7f7;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    border-radius: 20px;
    color: #4c4b6c;
}

.red{
    color: red;
}

.nijn_menu .right >p:first-child{
    font-weight: bold;
    color: #4c4b6c;
}

.nijn_menu .right >p{
    color: grey;
}

.yellow{
    color: orange;
}    

.skyblue{
    color: skyblue;
}

.vip_okno{
    display: inline-block;
    width: 100%;
    background: #f7f7f7;
    position: relative;
}

.dropdown{
    display: none;
    position: absolute;
    background: white;
    border: 1px solid black;
    width: 100%;
    top: 42px;
    left: 0;
}

.hover_menu li:hover .dropdown{
    display: block;
}

.grey{
    color: grey;
}

span.logo_style1{
    background: orange;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    border-radius: 20px;
    color: white;
}

 form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 60px;
  }
  input, button {
    border: none;
    outline: none;
    background: transparent;
    
  }
  input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
  }
  button {
    height: 42px;
    
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  button:before {
    font-family: FontAwesome;
    font-size: 20px;
    color: #be290e;
  }
  