.menu{
    border: 4px solid coral ;
    padding: 2px 4px;
    margin: 20px 10px;
}

.logo{
    border: 4px solid black;
    padding: 2px 4px;
    margin:20px 10px ;
}

.link{
    border: 3px solid gray;
    padding: 4px 4px;
    margin:10px 15px ;
}

.quote{
    border: 2px solid goldenrod;
    padding: 5px 5px;
    margin:20px 10px ;
}

.media{
    padding: 15px 15px;
    margin: 20px 10px;
}

.contacts{
    border: 1px dotted black;
    padding: 2px 4px;
    margin: 20px 10px;
}