.menu{
    border: 4px solid coral ;
    padding: 2px 4px;
    margin: 20px 10px;
    color: white;
    background-color: blue;
}

.link{
    border: 3px solid gray;
    padding: 4px 4px;
    margin:10px 15px ;
}

.logo{
    border: 4px solid black;
    padding: 2px 4px;
    margin:20px 10px ;
}

.quote{
    border: 2px solid goldenrod;
    padding: 5px 5px;
    margin:20px 10px ;
    background-color: wheat;
}

.media{
    padding: 15px 15px;
    margin: 20px 10px;
}

.podval{
    border: 1px dotted black;
    padding: 2px 4px;
    margin: 20px 10px;
    color: white;
    background-color: black;
}