/* Я так и не понял как с помощью атрибута указать другую ссылку уже существующей ссылке, по этой причине просто применил стили к ссылкам.
Суть которую хотели вы донести я усвоил */
.world{    
    color: aqua;
}
.russia{
    margin: 20px;
}
.europe{
    color: brown;
}



#zag1{
    text-align: left;
}
#zag2{
    text-align: center;
}
#zag3{
    text-align: right;
}