* {
    box-sizing: border-box;
}
.body, p {
    margin: 0;
}

.m-l-10{
    margin-left: 10px;
}

.verh_menu {
    background: #f7f7f7;
    display: inline-block;
    width: 100%;
}
.verh_menu ul li{
    float: left;
}
.header_left, .ul_li > li {
    float: left;
}

.header_right {
    float: right;
}
 .ul_li {
     list-style: none;
     display: inline-block;
     padding: 0;
     margin: 0;
 }
 .ul_li li {
     padding: 10px 15px;
 }
 .container {
     width: 1300px;
     margin: 0 auto;
 }

.b-r li{
    border-right: 1px solid rgb(219, 216, 216);
}

.b-r li:last-child{
    border-right: 0;
}

.verh_menu .ul_li i{
    margin-right: 10px;
}
.msg{
    position: relative;
    top: -7px;
    right: 8px;
    background: red;
    width: 13px;
    height: 13px;
    text-align: center;
    color: white;
    font-size: 9px;
    line-height: 1.5;
    border-radius: 13px;
}

.icon_msg{
    position: absolute;
}

.nijn_menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.logo_style{
    background: #f7f7f7;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    border-radius: 20px;
    color: #4c4b6c;
}

.red{
    color: red;
}

.nijn_menu .right >p:first-child{
    font-weight: bold;
    color: #4c4b6c;
}

.nijn_menu .right >p{
    color: grey;
}

.yellow{
    color: orange;
}    

.skyblue{
    color: skyblue;
}

.vip_okno{
    display: inline-block;
    width: 100%;
    background: #f7f7f7;
    position: relative;
}

.dropdown{
    display: none;
    position: absolute;
    background: white;
    border: 1px solid black;
    width: 100%;
    top: 42px;
    left: 0;
}

.hover_menu li:hover .dropdown{
    display: block;
}

.grey{
    color: grey;
}

span.logo_style1{
    background: orange;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 60px;
}
input, button {
    border: none;
    outline: none;
    background: transparent;
    
}
input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}
button {
    height: 42px;
    
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
button:before {
    font-family: FontAwesome;
    font-size: 20px;
    color: #be290e;
}

.block_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f7f7f7;
}
  
#product{
    padding: 0 15px;
}

.body_block{
    margin-top: 20px;
}

  .list_product > .product{
    float: left;
}

.block_stars{
    display: inline-block;
}

.block_stars > div{
    float: left;
}

.product{
    display: inline-block;
    min-height: 310px;
}

.product img{
    width: 200px;
    overflow: hidden;
    object-fit: contain;
}

.body_product{
    margin-top: 10px;
}

.stars > i{
    color: orange;
    font-size: 10px;
    margin-left: -4px;
}

.stars > i:first-child{
    margin-left: 0;
}

.reviews{
    font-size: 13px;
    line-height: 1.7;
}

.price span{
    font-size: 20px;
    font-weight: bold;
    color: #4c4b6c;
}

.price{
    display: inline-block;
    width: 100%;
    margin-top: -5px;
}

.price del{
    font-size: 15px;
    margin-left: 12px;
    color: #9e9e9e;
    line-height: 2;
}

.btns li{
    padding: 0;
}

.btns .ul_li{
    display: flex;
    justify-content: space-evenly;
}

.btns .logo_style{
    transition: .5s;
}

.btns li:hover .logo_style{
    background: skyblue;
    color: white;
    cursor: pointer;
}

.hide{
    display: none;
}

.img{
    position: relative;
}

.desk_img{
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffffb5;
    width: 100%;
    height: 100%;
    border: 1px solid #dcdcdcb5;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .2s;
}

.product:hover .hide{
    display: block;
}

.product:hover .block_stars{
    display: none;
}
.product:hover .desk_img{
    opacity: 1;
}

.desk{
    width: 80%;
    text-align: center;
}

.ttl{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.list_product{
    display: flex;
    justify-content: space-between;
}

.tooltip{
    position: absolute;
    right: -7px;
    top: 7px;
    color: white;
    padding: 3px 6px;
    font-size: 13px;
    border-radius: 4px;
    z-index: 1;
}

.bg_green{
    background-color: green;
}
.bg_orange{
    background-color: orange;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
}